<footer class='relative px-10 pb-8 lg:py-10 md:px-12'>
    <div
        class='pt-16 pb-10 flex flex-wrap md:flex-nowrap flex-col md:flex-row gap-12 justify-between sm:gap-10 md:gap-0'>
        <!-- Quick Links -->
        <div class='footer-col'>
            <h3 class=''>Quick links</h3>
            <div class='flex gap-6 flex-col'>
                <a class='footer-link' href="#">Bags</a>
                <a class='footer-link' href="#">Shoes</a>
                <a class='footer-link' href="#">Lookbook</a>
            </div>
        </div>

        <!-- Info -->
        <div class='footer-col'>
            <h3>Info</h3>
            <div class='flex gap-6 flex-col'>
                <a class='footer-link' href="#">About</a>
                <a class='footer-link' href="#">Contact us</a>
                <a class='footer-link' href="#">Shopping policy</a>
                <a class='footer-link' href="#">Blog</a>
            </div>
        </div>

        <!-- Our Mission -->
        <div class='flex md:w-[33%] flex-col tracking-wider gap-5'>
            <h3>Our mission</h3>
            <p>
                <span class='text-gray-600 text-sm'>
                    Quality materials, good designs, craftsmanship and sustainability.
                </span>
            </p>
        </div>

    </div>

    <!-- Subscribe -->
    <div class='flex flex-wrap justify-center md:justify-start'>
        <h2>Subscribe to our emails</h2>
    </div>

    <div
        class='py-5 flex flex-wrap md:flex-nowrap gap-10 justify-center md:justify-between items-center tracking-wider'>

        <div class='relative flex justify-center md:justify-between w-full sm:max-w-md'>

            <input
                class='border border-gray-500 min-w-0 flex-1 max-w-[24rem] py-3 pl-4 pr-10 placeholder-gray-600 hover:outline-2 hover:outline-gray-600'
                type="email" placeholder='Email' />

            <svg class='absolute w-5 h-auto right-[8%] sm:right-[10%] md:right-[12%] lg:right-[18%] top-1/2 -translate-y-1/2'
                viewBox="0 0 14 10" fill='#4a5565' xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" />
            </svg>

        </div>

        <!-- Social Media Icons -->
        <div class='flex flex-wrap items-end'>

            <ul id="footer-socials" class='flex flex-wrap md:flex-nowrap justify-center md:justify-end gap-6'></ul>

        </div>

    </div>

    <hr class='absolute left-0 sm:bottom-48 md:bottom-52 lg:bottom-56 w-full border-gray-200' />

    <div
        class='py-7 lg:pb-10 md:pt-20 flex flex-wrap flex-col md:flex-row gap-10 justify-center md:justify-between items-center md:items-end'>

        <!-- Country/Region -->
        <div class='flex flex-col flex-wrap gap-4'>

            <p>
                <span class='text-gray-600 text-xs tracking-wider'>Country/region</span>
            </p>

            <div class='relative flex w-full items-center'>

                <a class='border border-gray-500 flex-1 text-xs px-5 pr-10 py-3 max-w-[10rem] tracking-wider text-gray-800 hover:outline-2 hover:outline-gray-500'
                    href="#">Canada | CAD $</a>

                <svg class='absolute w-2.5 h-auto right-3 md:left-32' viewBox="0 0 10 6">
                    <path
                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" />
                </svg>

            </div>

        </div>

        <!-- Cards -->
        <div>

            <ul id="footer-cards" class='flex flex-wrap justify-center gap-3 items-center'></ul>

        </div>

    </div>

    <span class='flex text-center text-[10px] justify-center md:justify-start text-gray-500 tracking-wider '>&copy;
        2025,
        theme-dawn-demo Powered by Shopify</span>

</footer>