<!-- About Me Section -->
<section id="AboutMe"
    class="px-5 md:px-20 py-10 -mt-1 bg-white dark:bg-[#252525] flex flex-col gap-5 md:gap-10 justify-center items-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-2xl md:text-4xl dark:text-white font-extrabold tracking-wide">About Me</h1>
        <p
            class="text-xs font-semibold bg-gradient-to-r from-blue-400 via-blue-800 to-blue-950 dark:to-blue-700 bg-clip-text text-transparent">
            Get to know me</p>
    </div>
    <div class="text-center text-xs md:text-sm dark:text-gray-300">
        <p class="">Hi there! I'm Muhammad Huzaif Amir, a passionate frontend developer and UI designer. I
            specialize in building clean, responsive websites using HTML, CSS, Tailwind CSS, and tools like Vite
            and Webpack.</p>
        <p class="">Alongside development, I also design mobile app interfaces in Figma, blending usability with
            modern UI trends. From web layouts to mobile screens, I enjoy turning ideas into visuals that feel
            intuitive and engaging.</p>
        <p>I've recreated Shopify themes like Craft, Dawn, and Tinker to sharpen my skills in layout
            structuring, responsiveness, and component-based design.</p>
        <p class="">Always eager to learn and grow, I’m excited to collaborate on projects that combine good
            design with great code.</p>
        <p>Let's build something awesome together!</p>
    </div>
    <div class="py-2 dark:text-white hover:scale-105 transition duration-300">
        <a class="border border-black dark:border-white hover:border-[#0f90e6] hover:text-[#0f90e6] rounded-full px-5 py-3 text-xs animate-pulse hover:animate-none"
            href="https://drive.google.com/file/d/1tR9_cHPTsFVibA0-rVfOArDAvU6GX2Ns/view?usp=drive_link"
            target="_blank">Download Resume</a>
    </div>
</section>