<!--  Get in Touch and Form Section -->
<section class="px-5 md:px-20 py-10 dark:bg-[#252525] bg-white flex flex-wrap gap-5 md:gap-10 items-center">
    <!-- Get in Touch -->
    <div class="flex-1 flex flex-col gap-4">
        <div class="flex flex-col items-center md:items-start">
            <h1 class="text-2xl lg:text-4xl dark:text-white font-extrabold tracking-wide">Get in Touch</h1>
            <p
                class="text-xs font-semibold bg-gradient-to-r from-blue-400 via-blue-800 to-blue-950 dark:to-blue-700 bg-clip-text text-transparent">
                Lets work together</p>
        </div>
        <div class="flex flex-col gap-4">
            <!-- Gmail -->
            <a class="border py-2 px-4 border-gray-400 rounded-lg text-gray-600 dark:text-white hover:border-[#0f90e6] flex gap-2 text-sm items-center"
                href="mailto:alih95745@gmail.com">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_134_163)">
                        <path
                            d="M4.40338 19.9134H7.38631V12.6691L3.125 9.47314V18.6351C3.125 19.3424 3.69819 19.9134 4.40338 19.9134Z"
                            fill="#4285F4" />
                        <path
                            d="M17.6135 19.9135H20.5966C21.3039 19.9135 21.8749 19.3403 21.8749 18.6351V9.47314L17.6135 12.6692"
                            fill="#34A853" />
                        <path
                            d="M17.6135 7.12927V12.6691L21.8749 9.47311V7.76836C21.8749 6.18746 20.0702 5.28615 18.8068 6.23433"
                            fill="#FBBC04" />
                        <path d="M7.38647 12.6688V7.12909L12.5001 10.9641L17.6137 7.12891V12.6687L12.5001 16.504"
                            fill="#EA4335" />
                        <path
                            d="M3.125 7.76836V9.47293L7.38631 12.669V7.12927L6.19316 6.23433C4.92753 5.28615 3.125 6.18746 3.125 7.76836Z"
                            fill="#C5221F" />
                    </g>
                    <defs>
                        <clipPath id="clip0_134_163">
                            <rect width="24" height="24" fill="white" transform="translate(0.5 0.878418)" />
                        </clipPath>
                    </defs>
                </svg>
                alih95745@gmail.com</a>
            <!-- Phone Number -->
            <a class="border py-2 px-4 h-10 border-gray-400 rounded-lg text-gray-600 dark:text-white hover:border-[#0f90e6] flex gap-2 text-sm items-center"
                href="#">
                <svg class="dark:text-white" width="18" height="18" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M30.1 10C32.0535 10.3811 33.8488 11.3365 35.2561 12.7439C36.6635 14.1512 37.6189 15.9465 38 17.9M30.1 2C34.1586 2.45087 37.9432 4.26835 40.8325 7.15402C43.7218 10.0397 45.544 13.822 46 17.88M44 33.84V39.84C44.0023 40.397 43.8882 40.9483 43.665 41.4587C43.4419 41.9691 43.1146 42.4272 42.7042 42.8037C42.2937 43.1803 41.8092 43.467 41.2815 43.6454C40.7539 43.8239 40.1947 43.8901 39.64 43.84C33.4857 43.1713 27.574 41.0683 22.38 37.7C17.5477 34.6293 13.4507 30.5323 10.38 25.7C6.99996 20.4824 4.89649 14.542 4.24 8.36C4.19002 7.80693 4.25575 7.24952 4.433 6.72325C4.61026 6.19698 4.89515 5.71338 5.26954 5.30324C5.64393 4.89311 6.09961 4.56542 6.60759 4.34104C7.11556 4.11667 7.66468 4.00052 8.22 4H14.22C15.1906 3.99045 16.1316 4.33416 16.8675 4.96707C17.6035 5.59997 18.0842 6.47889 18.22 7.44C18.4732 9.36013 18.9429 11.2455 19.62 13.06C19.8891 13.7758 19.9473 14.5538 19.7878 15.3018C19.6283 16.0497 19.2577 16.7362 18.72 17.28L16.18 19.82C19.0271 24.8271 23.1729 28.9729 28.18 31.82L30.72 29.28C31.2638 28.7423 31.9503 28.3717 32.6982 28.2122C33.4462 28.0527 34.2242 28.1109 34.94 28.38C36.7545 29.0571 38.6399 29.5268 40.56 29.78C41.5315 29.9171 42.4188 30.4064 43.0531 31.155C43.6873 31.9036 44.0243 32.8592 44 33.84Z"
                        stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                +92 311 7580072
            </a>
        </div>
    </div>

    <!-- Form -->
    <div id="LetsTalk" class="flex lg:flex-1 flex-col gap-4 w-full">
        <div class="dark:text-white">
            <h1 class="text-2xl lg:text-4xl font-bold tracking-widest">Let's</h1>
            <h1 class="text-2xl lg:text-4xl font-bold tracking-widest">Work Together - </h1>
        </div>
        <form class="flex-1 dark:text-white w-full flex flex-col gap-4">
            <!-- Name -->
            <div class="flex flex-col gap-2">
                <label class="text-sm font-semibold" for="name">Name</label>
                <input class="text-xs border dark:bg-transparent py-2 px-4 outline-[#0f90e6] rounded-lg border-gray-300"
                    type="text" name="name" id="name" placeholder="Full Name" required minlength="3">
            </div>
            <!-- Email -->
            <div class="flex flex-col gap-2">
                <label class="text-sm font-semibold" for="email">Email</label>
                <input class="text-xs border dark:bg-transparent outline-[#0f90e6] py-2 px-4 rounded-lg border-gray-300"
                    type="email" name="email" id="email" placeholder="example@gmail.com" required>
            </div>
            <!-- Select Service -->
            <div class="flex flex-col gap-2">
                <label class="text-sm font-semibold" for="select">Service</label>
                <select
                    class="text-xs text-gray-400 dark:bg-transparent focus:outline-[#0f90e6] outline-offset-0 border py-2 px-4 rounded-lg border-gray-300 outline-none"
                    name="select" id="select">
                    <option class="" value="" disabled selected hidden>Select an option</option>
                </select>
            </div>
            <!-- Message -->
            <div class="flex flex-col gap-2">
                <label class="text-sm font-semibold" for="message">Message</label>
                <textarea
                    class="text-xs border py-2 dark:bg-transparent outline-[#0f90e6] h-40 px-4 rounded-lg border-gray-300"
                    name="message" id="message"></textarea>
            </div>
            <!-- Get in Touch -->
            <div class="text-white flex">
                <button
                    class="border w-full text-center bg-[#484e53] dark:bg-white dark:text-black font-semibold border-black rounded-lg py-3 text-xs"
                    type="submit">Get
                    in Touch</button>
            </div>
        </form>
    </div>
</section>

<hr class="border-gray-300">

<div class="flex py-4 px-5 md:px-20 dark:bg-[#252525] justify-between items-center">
    <div class="dark:text-white">
        <p class="text-xs">&copy; 2025 all rights reserved.</p>
    </div>

    <div class="flex gap-4">
        <!-- Linkedin Button -->
        <div>
            <a class="" href="https://www.linkedin.com/in/muhammad-huzaif-amir" target="_blank">
                <svg class="text-[#484E53] dark:text-white hover:scale-105 transition duration-300" width="24"
                    height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.9997 0C7.17757 0 0 7.17757 0 16C0 24.8227 7.17757 32 15.9997 32C24.8222 32 32 24.8227 32 16C31.9997 7.17757 24.8219 0 15.9997 0ZM15.9997 30.4219C8.0476 30.4219 1.57806 23.9524 1.57806 16C1.57806 8.04787 8.0476 1.57806 15.9997 1.57806C23.9519 1.57806 30.4219 8.04787 30.4219 16C30.4217 23.9524 23.9519 30.4219 15.9997 30.4219Z"
                        fill="currentColor" />
                    <path d="M7.87305 12.6094H11.5757V22.2708H7.87305V12.6094Z" fill="currentColor" />
                    <path
                        d="M9.68841 11.0681C10.7234 11.0681 11.5624 10.3027 11.5624 9.3585C11.5624 8.41433 10.7234 7.64893 9.68841 7.64893C8.65345 7.64893 7.81445 8.41433 7.81445 9.3585C7.81445 10.3027 8.65345 11.0681 9.68841 11.0681Z"
                        fill="currentColor" />
                    <path
                        d="M20.8831 12.3911C20.1248 12.3911 19.4823 12.5292 18.9541 12.8051C18.4265 13.0813 17.9052 13.5405 17.3895 14.1833V12.6094H13.9414V22.2709H17.6441V17.6311C17.6441 16.7516 17.7837 16.1424 18.0628 15.8026C18.3418 15.4631 18.7053 15.2932 19.1543 15.2932C19.5606 15.2932 19.876 15.4192 20.1006 15.6709C20.3252 15.9226 20.437 16.3515 20.437 16.9583V22.2709H24.1581V16.1303C24.1581 14.8566 23.8682 13.915 23.2888 13.3053C22.7102 12.6957 21.9077 12.3911 20.8831 12.3911Z"
                        fill="currentColor" />
                </svg>
            </a>
        </div>

        <!-- Facebook Button -->
        <div>
            <a class="" href="https://www.facebook.com/Huzaif072" target="_blank">
                <svg class="text-[#484E53] dark:text-white hover:scale-105 transition duration-300" width="24"
                    height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.9997 0C7.17757 0 0 7.17757 0 16C0 24.8227 7.17757 32 15.9997 32C24.8222 32 32 24.8227 32 16C31.9997 7.17757 24.8219 0 15.9997 0ZM15.9997 30.4219C8.0476 30.4219 1.57806 23.9524 1.57806 16C1.57806 8.04787 8.0476 1.57806 15.9997 1.57806C23.9519 1.57806 30.4219 8.04787 30.4219 16C30.4217 23.9524 23.9519 30.4219 15.9997 30.4219Z"
                        fill="currentColor" />
                    <path
                        d="M20.9272 6.61133H17.4565C17.4486 6.61128 17.4407 6.61163 17.4329 6.61239C13.9288 6.62343 13.4711 9.07022 13.4693 11.2088C13.4644 11.229 13.462 11.2498 13.4619 11.2706V12.7718H11.0638C10.994 12.7718 10.9271 12.7995 10.8778 12.8489C10.8285 12.8982 10.8008 12.9651 10.8008 13.0348V16.7373C10.8008 16.807 10.8285 16.8739 10.8778 16.9232C10.9271 16.9726 10.994 17.0003 11.0638 17.0003H13.4619V25.1249C13.4619 25.1947 13.4896 25.2616 13.539 25.3109C13.5883 25.3602 13.6552 25.3879 13.7249 25.3879H17.2248C17.2946 25.3879 17.3615 25.3602 17.4108 25.3109C17.4601 25.2616 17.4878 25.1947 17.4878 25.1249V17.0005H20.927C20.9967 17.0005 21.0636 16.9728 21.1129 16.9235C21.1623 16.8742 21.19 16.8073 21.19 16.7375V13.0351C21.19 12.9654 21.1623 12.8985 21.1129 12.8491C21.0636 12.7998 20.9967 12.7721 20.927 12.7721H17.2248V10.7819H20.927C20.9967 10.7819 21.0636 10.7542 21.1129 10.7049C21.1623 10.6555 21.19 10.5886 21.19 10.5189V6.87434C21.19 6.83982 21.1832 6.80562 21.17 6.77371C21.1569 6.74181 21.1375 6.71281 21.1131 6.68838C21.0887 6.66396 21.0597 6.64458 21.0278 6.63136C20.9959 6.61814 20.9617 6.61133 20.9272 6.61133Z"
                        fill="currentColor" />
                </svg>
            </a>
        </div>

        <!-- Instagram Button -->
        <div>
            <a class="" href="https://www.instagram.com/its_.zaiffi" target="_blank">
                <svg class="text-[#484E53] dark:text-white hover:scale-105 transition duration-300" width="24"
                    height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.9999 0C7.17762 0 0 7.17757 0 16C0 24.8224 7.17762 32 15.9999 32C24.8224 32 32 24.8224 32 16C32 7.17757 24.8221 0 15.9999 0ZM15.9999 30.4219C8.04767 30.4219 1.57808 23.9521 1.57808 16C1.57808 8.04787 8.04767 1.57806 15.9999 1.57806C23.9521 1.57806 30.4219 8.04787 30.4219 16C30.4219 23.9521 23.9521 30.4219 15.9999 30.4219Z"
                        fill="currentColor" />
                    <path
                        d="M21.002 8.29346H10.9891C9.51225 8.29346 8.31055 9.49489 8.31055 10.972V21.0308C8.31055 22.5076 9.51199 23.7093 10.9891 23.7093H21.0017C22.4785 23.7093 23.6802 22.5079 23.6802 21.0308V10.9717C23.6802 9.49489 22.4788 8.29346 21.002 8.29346ZM18.3116 15.9728C18.3116 17.25 17.2727 18.2889 15.9955 18.2889C14.7183 18.2889 13.6794 17.25 13.6794 15.9728C13.6794 15.3393 13.9356 14.7648 14.3491 14.3464H17.6417C18.0712 14.7787 18.312 15.3635 18.3116 15.9728ZM18.9831 10.4365H21.3292V12.8533H18.9831V10.4365ZM21.002 22.131H10.9891C10.6973 22.1306 10.4176 22.0146 10.2113 21.8083C10.005 21.602 9.88897 21.3223 9.88862 21.0305V14.3464H12.4619C12.225 14.8559 12.1019 15.4109 12.1014 15.9728C12.1014 18.1203 13.8483 19.867 15.9955 19.867C18.1428 19.867 19.8897 18.1201 19.8897 15.9728C19.8897 15.3919 19.7582 14.8422 19.5291 14.3464H22.1022V21.0305C22.1018 21.3222 21.9858 21.6019 21.7796 21.8082C21.5733 22.0145 21.2937 22.1306 21.002 22.131Z"
                        fill="currentColor" />
                </svg>
            </a>
        </div>

        <!-- Twitter Button -->
        <div>
            <a class="" href="https://x.com/zaiffi784" target="_blank">
                <svg class="text-[#484E53] dark:text-white hover:scale-105 transition duration-300" width="24"
                    height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.9997 0C7.17757 0 0 7.17757 0 16C0 24.8227 7.17757 32 15.9997 32C24.8222 32 32 24.8227 32 16C31.9997 7.17757 24.8219 0 15.9997 0ZM15.9997 30.4219C8.0476 30.4219 1.57806 23.9524 1.57806 16C1.57806 8.04787 8.0476 1.57806 15.9997 1.57806C23.9519 1.57806 30.4219 8.04787 30.4219 16C30.4217 23.9524 23.9519 30.4219 15.9997 30.4219Z"
                        fill="currentColor" />
                    <path
                        d="M23.1403 10.787C23.508 10.5971 24.3885 10.0329 24.8036 8.822C24.8036 8.822 23.8033 9.54528 22.442 9.63049L22.4173 9.64417C22.0605 9.2538 21.6262 8.94216 21.1422 8.72917C20.6582 8.51618 20.135 8.40653 19.6062 8.40723C17.5 8.40723 15.7928 10.1147 15.7928 12.2209C15.7928 12.5404 15.8325 12.8508 15.9069 13.1475L15.8885 13.1199C15.8885 13.1199 11.804 13.3539 7.95324 9.14129C7.95324 9.14129 6.25077 12.0347 9.16572 14.2474C8.52739 14.3536 7.40013 13.7792 7.40013 13.7792C7.40013 13.7792 7.46378 16.8212 10.4847 17.5661C9.99552 17.6939 9.0805 17.736 8.78278 17.6087C8.78278 17.6087 9.22937 19.9274 12.3145 20.3319C11.5273 20.7787 10.0594 22.1401 6.74023 21.8847C6.74023 21.8847 9.12364 23.8418 13.5488 23.5656C17.974 23.2894 21.1866 20.3103 22.4843 17.1618C23.782 14.0133 23.4209 12.2206 23.4209 12.2206C23.4209 12.2206 24.5053 11.6515 25.2507 10.2901C24.9064 10.3932 23.6295 10.7052 23.1542 10.8206C23.1494 10.8095 23.1448 10.7982 23.1403 10.787Z"
                        fill="currentColor" />
                </svg>
            </a>
        </div>
    </div>
</div>