<!-- Banner -->
<div class="h-auto w-full justify-between flex flex-row">
    <!-- First Section -->
    <div class="h-[328px] md:h-[650px] w-[33%]  flex items-center z-10">
        <div class="w-full md:w-[90%] flex flex-col md:gap-4 dark:text-white">
            <div class="text-gray-800 w-full flex flex-col md:gap-3 dark:text-white">
                <p class="font-bold text-xs md:text-xl lg:text-2xl">Hello, I'm</p>
                <h1 class="font-extrabold text-sm md:text-3xl lg:text-4xl md:animate-pulse">H U Z A I F</h1>
            </div>
            <div>
                <p class="text-[0.5rem] md:text-xs">Frontend developer passionate about clean UI, modern tools,
                    and building websites that connect people.</p>
            </div>
        </div>
    </div>
    <!-- Middle Section -->
    <div class="w-[33%] flex items-center justify-center">
        <div
            class="absolute bg-white h-[20rem] w-[20rem] md:h-[40rem] md:w-[40rem] rounded-full opacity-30 dark:opacity-10">
        </div>
        <div
            class="absolute bg-white h-[20rem] w-[20rem] md:h-[30rem] md:w-[30rem] rounded-full opacity-30 dark:opacity-10">
        </div>
        <div class="absolute w-[20rem] h-[20rem] md:h-[40.125rem] md:w-[40rem] rounded-full">
            <div class="w-full h-full z-10">
                <img class="w-full h-full object-cover" id="image" alt="">
            </div>
        </div>
    </div>
    <!-- Third Section -->
    <div class="w-[33%] flex flex-col gap-2 items-end justify-center md:items-start md:py-10 z-10 dark:opacity-90">
        <div class="w-20 md:w-full h-auto flex">
            <img class="w-40 h-full object-cover hover:scale-105 cursor-pointer transition duration-300 animate-pulse hover:animate-none"
                id="image_2" alt="">
        </div>
        <div class="w-20 md:w-full h-auto flex justify-end">
            <img class="w-40 h-full object-cover hover:scale-105 cursor-pointer transition duration-300 animate-pulse hover:animate-none"
                id="image_3" alt="">
        </div>
        <div class="w-20 md:w-40 h-auto">
            <img class="w-full h-full object-cover hover:scale-105 cursor-pointer transition duration-300 animate-pulse hover:animate-none"
                id="image_4" alt="">
        </div>
    </div>

    <div class="fixed bottom-8 flex items-center gap-4 z-10">
        <!-- Mail Button -->
        <div class="">
            <a class="flex drop-shadow-2xl justify-center items-center px-2 py-2 rounded-full bg-[#fff] hover:bg-[#0f90e6] hover:scale-110 transition duration-100 outline outline-gray-200 group hover:outline-none"
                href="mailto:alih95745@gmail.com">
                <svg class="group-hover:text-white" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 20C3.45 20 2.975 19.8083 2.575 19.425C2.19167 19.025 2 18.55 2 18V6C2 5.45 2.19167 4.98333 2.575 4.6C2.975 4.2 3.45 4 4 4H20C20.55 4 21.0167 4.2 21.4 4.6C21.8 4.98333 22 5.45 22 6V18C22 18.55 21.8 19.025 21.4 19.425C21.0167 19.8083 20.55 20 20 20H4ZM12 13L20 8V6L12 11L4 6V8L12 13Z"
                        fill="currentColor" />
                </svg>
            </a>
        </div>
        <!-- Github Button -->
        <div class="">
            <a class="flex drop-shadow-2xl justify-center items-center px-2 py-2 rounded-full bg-[#fff] hover:bg-[#0f90e6] hover:scale-110 transition duration-100 outline outline-gray-200 group hover:outline-none"
                href="https://github.com/Huzaif072" target="_blank">
                <svg class="group-hover:text-white" width="24" height="24" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_9_4)">
                        <path
                            d="M18 38C8 41 8 33 4 32M32 44V36.26C32.075 35.3063 31.9462 34.3476 31.622 33.4476C31.2979 32.5476 30.7859 31.7268 30.12 31.04C36.4 30.34 43 27.96 43 17.04C42.9995 14.2477 41.9254 11.5624 40 9.54C40.9117 7.09701 40.8472 4.3967 39.82 2C39.82 2 37.46 1.3 32 4.96C27.416 3.71764 22.584 3.71764 18 4.96C12.54 1.3 10.18 2 10.18 2C9.15275 4.3967 9.08829 7.09701 10 9.54C8.06025 11.5774 6.98505 14.2869 7 17.1C7 27.94 13.6 30.32 19.88 31.1C19.222 31.7799 18.7145 32.5908 18.3906 33.4798C18.0667 34.3689 17.9336 35.3161 18 36.26V44"
                            stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_9_4">
                            <rect width="48" height="48" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

            </a>
        </div>
        <!-- Linkedin Button -->
        <div class="">
            <a class="flex drop-shadow-2xl justify-center items-center px-2 py-2 rounded-full bg-[#fff] hover:bg-[#0f90e6] hover:scale-110 transition duration-100 outline outline-gray-200 group hover:outline-none"
                href="https://www.linkedin.com/in/muhammad-huzaif-amir" target="_blank">
                <svg class="group-hover:text-white" width="24" height="24" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M32 16C35.1826 16 38.2348 17.2643 40.4853 19.5147C42.7357 21.7652 44 24.8174 44 28V42H36V28C36 26.9391 35.5786 25.9217 34.8284 25.1716C34.0783 24.4214 33.0609 24 32 24C30.9391 24 29.9217 24.4214 29.1716 25.1716C28.4214 25.9217 28 26.9391 28 28V42H20V28C20 24.8174 21.2643 21.7652 23.5147 19.5147C25.7652 17.2643 28.8174 16 32 16Z"
                        stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 18H4V42H12V18Z" stroke="currentColor" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z"
                        stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </div>
</div>