<!-- Projects Section -->
<section id="Projects" class="py-10 dark:bg-darkBg flex flex-col gap-8 md:gap-12 justify-center items-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-2xl md:text-4xl dark:text-white font-extrabold tracking-wide">Projects</h1>
        <p
            class="text-xs font-semibold bg-gradient-to-r from-blue-400 via-blue-800 to-blue-950 dark:to-blue-700 bg-clip-text text-transparent">
            Some of my Work</p>
    </div>
    <div class="text-sm dark:text-white flex flex-wrap gap-2 justify-center gap-y-4 md:gap-8">
        <a class="px-4 py-2 border flex justify-center items-center text-center border-black rounded-full dark:border-white hover:border-[#0f90e6] hover:text-[#0f90e6] hover:-translate-y-1 transition duration-300"
            href="#">Frontend Development Project</a>
        <!-- <a class="px-8 py-2 border flex justify-center items-center text-center border-black rounded-full dark:border-white hover:border-[#0f90e6] hover:text-[#0f90e6] hover:-translate-y-1 transition duration-300"
                    href="#">Sql</a>
                <a class="px-4 py-2 border flex justify-center items-center text-center border-black rounded-full dark:border-white hover:border-[#0f90e6] hover:text-[#0f90e6] hover:-translate-y-1 transition duration-300"
                    href="#">Power BI</a>
                <a class="px-4 py-2 border flex justify-center items-center text-center border-black rounded-full dark:border-white hover:border-[#0f90e6] hover:text-[#0f90e6] hover:-translate-y-1 transition duration-300"
                    href="#">AI/LLMs</a>
                <a class="px-4 py-2 border flex justify-center items-center text-center border-black rounded-full dark:border-white hover:border-[#0f90e6] hover:text-[#0f90e6] hover:-translate-y-1 transition duration-300"
                    href="#">Spatial Data Science</a> -->
    </div>
    <div class="flex flex-wrap justify-between gap-4">
        <!-- First Project -->
        <div
            class="flex-[48%] lg:flex-[31%] flex flex-col gap-4 bg-white dark:bg-[#252525] rounded-lg pb-4 border dark:border-none cursor-pointer hover:-translate-y-2 transition duration-300 hover:animate-pulse">
            <div class="w-full h-full oveflow-hidden border-b">
                <img class="w-full h-full object-cover rounded-t-lg" id="image_6" alt="">
            </div>
            <div class="flex justify-between px-4">
                <div class="dark:text-white flex flex-col gap-4">
                    <h2 class="text-sm font-semibold">Cloned Shopify Craft Theme</h2>
                    <p class="text-xs">HTML, CSS</p>
                </div>
                <div>
                    <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="37.666" height="37.666" rx="18.833" transform="matrix(-1 0 0 1 37.6667 0.667236)"
                            fill="#4FC3F7" />
                        <path d="M25.4255 11.4961L12.2424 24.6792" stroke="white" stroke-width="1.41248"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.4255 21.1668V11.4961H15.7548" stroke="white" stroke-width="1.41248"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Second Project -->
        <div
            class="flex-[48%] lg:flex-[31%] flex flex-col gap-4 bg-white dark:bg-[#252525] rounded-lg pb-4 border dark:border-none cursor-pointer hover:-translate-y-2 transition duration-300 hover:animate-pulse">
            <div class="w-full h-full oveflow-hidden border-b opacity">
                <img class="w-full h-full object-cover rounded-t-lg" id="image_7" alt="">
            </div>
            <div class="flex justify-between px-4">
                <div class="dark:text-white flex flex-col gap-4">
                    <h2 class="text-sm font-semibold">Cloned Shopify Dawn Theme</h2>
                    <p class="text-xs">HTML, Tailwind CSS using Vite</p>
                </div>
                <div>
                    <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="37.666" height="37.666" rx="18.833" transform="matrix(-1 0 0 1 37.6667 0.667236)"
                            fill="#4FC3F7" />
                        <path d="M25.4255 11.4961L12.2424 24.6792" stroke="white" stroke-width="1.41248"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.4255 21.1668V11.4961H15.7548" stroke="white" stroke-width="1.41248"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- Third Project -->
        <div
            class="flex-[48%] lg:flex-[31%] flex flex-col gap-4 bg-white dark:bg-[#252525] rounded-lg pb-4 border dark:border-none cursor-pointer hover:-translate-y-2 transition duration-300 hover:animate-pulse">
            <div class="w-full h-full oveflow-hidden border-b">
                <img class="w-full h-full object-cover rounded-t-lg" id="image_8" alt="">
            </div>
            <div class="flex justify-between px-4">
                <div class="dark:text-white flex flex-col gap-4">
                    <h2 class="text-sm font-semibold">Cloned Shopify Tinker Theme</h2>
                    <p class="text-xs">HTML, Tailwind CSS using Webpacks</p>
                </div>
                <div>
                    <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="37.666" height="37.666" rx="18.833" transform="matrix(-1 0 0 1 37.6667 0.667236)"
                            fill="#4FC3F7" />
                        <path d="M25.4255 11.4961L12.2424 24.6792" stroke="white" stroke-width="1.41248"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.4255 21.1668V11.4961H15.7548" stroke="white" stroke-width="1.41248"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- <div
                    class="flex-[48%] lg:flex-[31%] flex flex-col gap-4 bg-white dark:bg-[#252525] rounded-lg pb-4 border dark:border-none cursor-pointer hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                    <div class="w-full h-full oveflow-hidden border-b">
                        <img class="w-full h-full object-cover rounded-t-lg" id="image_9" alt="">
                    </div>
                    <div class="flex justify-between px-4">
                        <div class="dark:text-white flex flex-col gap-4">
                            <h2 class="text-sm font-semibold">Project name/description</h2>
                            <p class="text-xs">Technology used</p>
                        </div>
                        <div>
                            <svg width="38" height="39" viewBox="0 0 38 39" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="37.666" height="37.666" rx="18.833"
                                    transform="matrix(-1 0 0 1 37.6667 0.667236)" fill="#4FC3F7" />
                                <path d="M25.4255 11.4961L12.2424 24.6792" stroke="white" stroke-width="1.41248"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M25.4255 21.1668V11.4961H15.7548" stroke="white" stroke-width="1.41248"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div
                    class="flex-[48%] lg:flex-[31%] flex flex-col gap-4 bg-white dark:bg-[#252525] rounded-lg pb-4 border dark:border-none cursor-pointer hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                    <div class="w-full h-full oveflow-hidden border-b">
                        <img class="w-full h-full object-cover rounded-t-lg" id="image_10" alt="">
                    </div>
                    <div class="flex justify-between px-4">
                        <div class="dark:text-white flex flex-col gap-4">
                            <h2 class="text-sm font-semibold">Project name/description</h2>
                            <p class="text-xs">Technology used</p>
                        </div>
                        <div>
                            <svg width="38" height="39" viewBox="0 0 38 39" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="37.666" height="37.666" rx="18.833"
                                    transform="matrix(-1 0 0 1 37.6667 0.667236)" fill="#4FC3F7" />
                                <path d="M25.4255 11.4961L12.2424 24.6792" stroke="white" stroke-width="1.41248"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M25.4255 21.1668V11.4961H15.7548" stroke="white" stroke-width="1.41248"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div
                    class="flex-[48%] lg:flex-[31%] flex flex-col gap-4 bg-white dark:bg-[#252525] rounded-lg pb-4 border dark:border-none cursor-pointer hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                    <div class="w-full h-full oveflow-hidden border-b">
                        <img class="w-full h-full object-cover rounded-t-lg" id="image_11" alt="">
                    </div>
                    <div class="flex justify-between px-4">
                        <div class="dark:text-white flex flex-col gap-4">
                            <h2 class="text-sm font-semibold">Project name/description</h2>
                            <p class="text-xs">Technology used</p>
                        </div>
                        <div>
                            <svg width="38" height="39" viewBox="0 0 38 39" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="37.666" height="37.666" rx="18.833"
                                    transform="matrix(-1 0 0 1 37.6667 0.667236)" fill="#4FC3F7" />
                                <path d="M25.4255 11.4961L12.2424 24.6792" stroke="white" stroke-width="1.41248"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M25.4255 21.1668V11.4961H15.7548" stroke="white" stroke-width="1.41248"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div> -->
    </div>
    <!-- <div class="dark:text-white hover:scale-105 transition duration-300">
                <a class="border border-black dark:border-white hover:border-[#0f90e6] hover:text-[#0f90e6] rounded-full px-12 py-3 text-xs"
                    href="#">View all</a>
            </div> -->
</section>