    <!-- What I Do Section -->
    <section id="Services" class="py-10 dark:bg-darkBg flex flex-col gap-5 md:gap-10">
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-2xl md:text-4xl dark:text-white font-extrabold tracking-wide">What I do</h1>
            <p
                class="text-xs font-semibold bg-gradient-to-r from-blue-400 via-blue-800 to-blue-950 dark:to-blue-700 bg-clip-text text-transparent">
                My Services</p>
        </div>
        <div class="flex flex-wrap lg:justify-between gap-5">
            <!-- First Service -->
            <div
                class="md:flex-1 flex flex-col gap-4 py-5 px-5 bg-white dark:bg-[#252525] rounded-lg border border-gray-200 hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                <div>
                    <a class="bg-[#bce7fa] dark:bg-white w-10 rounded-lg flex py-2 px-2" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 4V5M12 19V20M5.07178 8L5.9378 8.5M18.0622 15.5L18.9282 16M18.9282 7.99999L18.0622 8.49999M5.93781 15.5L5.07178 16M16 12C16 9.79086 14.2091 8 12 8C9.79084 8 7.99998 9.79086 7.99998 12C7.99998 14.2091 9.79084 16 12 16C14.2091 16 16 14.2091 16 12Z"
                                stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></a>
                </div>
                <div class="lg:w-52 flex flex-col dark:text-white gap-4">
                    <h2 class="text-sm font-semibold">Custom Theme Cloning & Conversion</h2>
                    <p class="text-xs">
                        I replicate premium themes such as Shopify’s Craft, Dawn, and Tinker into clean,
                        maintainable HTML/CSS or Tailwind code — perfect for design-to-code handoffs, portfolio
                        pieces, or frontend learning.
                    </p>
                </div>
            </div>

            <!-- Second Service -->
            <div
                class="md:flex-1 flex flex-col gap-4 py-5 px-5 bg-white dark:bg-[#252525] rounded-lg border border-gray-200 hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                <div>
                    <a class="bg-[#bce7fa] dark:bg-white w-10 rounded-lg flex py-2 px-2" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 4V5M12 19V20M5.07178 8L5.9378 8.5M18.0622 15.5L18.9282 16M18.9282 7.99999L18.0622 8.49999M5.93781 15.5L5.07178 16M16 12C16 9.79086 14.2091 8 12 8C9.79084 8 7.99998 9.79086 7.99998 12C7.99998 14.2091 9.79084 16 12 16C14.2091 16 16 14.2091 16 12Z"
                                stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></a>
                </div>
                <div class="lg:w-52 flex flex-col dark:text-white gap-4">
                    <h2 class="text-sm font-semibold">Tailwind CSS Integration</h2>
                    <p class="text-xs">
                        I develop fully responsive layouts using Tailwind CSS, ensuring scalable design systems,
                        consistent styling, and fast performance across devices.
                    </p>
                </div>
            </div>

            <!-- Third Service -->
            <div
                class="md:flex-1 flex flex-col gap-4 py-5 px-5 bg-white dark:bg-[#252525] rounded-lg border border-gray-200 hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                <div>
                    <a class="bg-[#bce7fa] dark:bg-white w-10 rounded-lg flex py-2 px-2" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 4V5M12 19V20M5.07178 8L5.9378 8.5M18.0622 15.5L18.9282 16M18.9282 7.99999L18.0622 8.49999M5.93781 15.5L5.07178 16M16 12C16 9.79086 14.2091 8 12 8C9.79084 8 7.99998 9.79086 7.99998 12C7.99998 14.2091 9.79084 16 12 16C14.2091 16 16 14.2091 16 12Z"
                                stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></a>
                </div>
                <div class="lg:w-52 flex flex-col dark:text-white gap-4">
                    <h2 class="text-sm font-semibold">Frontend Development with Modern Tooling</h2>
                    <p class="text-xs">
                        Using Vite and Webpack, I build modern frontend setups that are optimized for speed,
                        code-splitting, and developer experience — perfect for scalable projects.
                    </p>
                </div>
            </div>

            <!-- Fourth Service -->
            <div
                class="md:max-w-[66%] flex items-center gap-4 py-5 px-5 bg-white dark:bg-[#252525] rounded-lg border border-gray-200 flex-wrap md:flex-nowrap hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                <div class="flex-[100%] flex flex-col gap-4">
                    <div>
                        <a class="bg-[#bce7fa] dark:bg-white w-10 rounded-lg flex py-2 px-2" href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 4V5M12 19V20M5.07178 8L5.9378 8.5M18.0622 15.5L18.9282 16M18.9282 7.99999L18.0622 8.49999M5.93781 15.5L5.07178 16M16 12C16 9.79086 14.2091 8 12 8C9.79084 8 7.99998 9.79086 7.99998 12C7.99998 14.2091 9.79084 16 12 16C14.2091 16 16 14.2091 16 12Z"
                                    stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg></a>
                    </div>
                    <div class="flex flex-col gap-4 dark:text-white">
                        <h2 class="text-sm font-semibold">Pixel-Perfect UI Replication</h2>
                        <p class="text-xs">
                            I specialize in transforming high-fidelity designs into pixel-perfect, responsive
                            websites using HTML, CSS, and Tailwind — ensuring visual fidelity and functionality.
                        </p>
                    </div>
                </div>
                <div class="w-full h-auto overflow-hidden">
                    <img class="w-full h-full object-cover rounded-lg" id="ai_chatbots" alt="">
                </div>
            </div>

            <!-- Fifth Service -->
            <div
                class="md:flex-[31%] flex flex-col gap-4 py-5 px-5 bg-white dark:bg-[#252525] rounded-lg border border-gray-200 hover:-translate-y-2 transition duration-300 hover:animate-pulse">
                <div>
                    <a class="bg-[#bce7fa] dark:bg-white w-10 rounded-lg flex py-2 px-2" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 4V5M12 19V20M5.07178 8L5.9378 8.5M18.0622 15.5L18.9282 16M18.9282 7.99999L18.0622 8.49999M5.93781 15.5L5.07178 16M16 12C16 9.79086 14.2091 8 12 8C9.79084 8 7.99998 9.79086 7.99998 12C7.99998 14.2091 9.79084 16 12 16C14.2091 16 16 14.2091 16 12Z"
                                stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></a>
                </div>
                <div class="lg:w-52 flex flex-col dark:text-white gap-4">
                    <h2 class="text-sm font-semibold">Static to Dynamic Theme Foundation</h2>
                    <p class="text-xs">
                        Need a solid base for your Shopify, WordPress, or headless CMS integration? I create static
                        theme versions that are well-structured and ready to plug into any backend.
                    </p>
                </div>
            </div>
        </div>
    </section>