<div class="flex flex-col">
    <div class='flex flex-col justify-center items-center gap-6 px-8 md:px-40 pt-8 md:pt-12'>

        <h2 class='text-3xl text-center md:text-4xl md:leading-snug'>
            Obsessive Attention. Intelligent Effort.
        </h2>

        <p class='text-center'>
            <span class='text-sm tracking-wide leading-loose text-gray-600'>
                Functional handbags made of luxurious materials to improve people's lives in small
                but mighty ways.
            </span>
        </p>
    </div>

    <!-- Products -->
    <div id="products-container"
        class="grid grid-cols-2 lg:grid-cols-4 gap-x-1 md:gap-x-2 gap-y-5 underline-offset-3 px-4 py-8 md:px-12 tracking-wider">
    </div>
</div>